<div class="footer footer-bg fixed" style="">

    <div class="footer-start">
        <div class="part">Logo</div>
        <div class="part">Message</div>
    </div>

    <div class="footer-center">
        <div class="part">Nos Formations
            <div class="">Formation 1</div>
            <div class="">Formation 2</div>
            <div class="">Formation 3</div>
        </div>

        <div class="part">Nos Cours
            <div class="">Cours 1</div>
            <div class="">Cours 2</div>
            <div class="">Cours 3</div>
        </div>

        <div class="part">Nos Services
            <div class="">Services 1</div>
            <div class="">Services 2</div>
            <div class="">Services 3</div>
        </div>

        <div class="part">Contact
            <div class="">Telephone: +36 1234567890</div>
            <div class="">Email: awformation@gmail.com</div>
            <div class="">Adresse: France Paris</div>
        </div>

    </div>

    <div class="footer-end">
        <div class="part">Nos Partenaires
            <div class="">Partenaire 1</div>
            <div class="">Partenaire 2</div>
            <div class="">Partenaire 3</div>
        </div>
    </div>
</div>